<div class="edoras">
  <% element.tags.each do |tag| %>
    <%= link_to filter_tags_path, {class: "saddle", style: "background-color: " +  tag.color} do %>
      <%= tag.title %><%= tag.icon_svg.html_safe %>
    <% end %>
  <% end %>
</div>