<%= link_to 'Back', pages_path, class: 'btn btn-lg btn-dark m-3' %>

<div class="row mb-3">
	<div class="col-md-6 m-auto">
		<div class="card">    
			<div class="card-title text-center">
				<h4 class="mt-2">RTFM!</h4>
				<hr class="m-0">
			</div>
			<div class="card-body pt-1">
				<div class="m-0 icon-svg-sm text-center">
					<%= svg_icon("idea") %>
				</div>

				<details class="mt-2 markdown">
					<summary class="text-center">Open Pages Manual</summary>
					<%= markdown(@about) %>
				</details>
			</div>
		</div>
	</div>
</div>

<%= render "page", page: @page, lead: "New Page" %>