<h6 class="breadcrumb"><%= link_to 'HOME', root_path %> / <span class="light-text">About</span></h6>
<h1 class="silmaril">About</h1>
<hr>
<div class="middle-earth-container silmaril">
	<p>Hello World :D</p>
	<p>My name is André, I'm a Mexican/Portuguese programmer.</p>
	<p>Ruby was my first programming language, and I am a Ruby fanatic!!!</p>
	<p>I learnt Ruby at a bootcamp in mexico "codeacamp" when I was 15 years old. That was my first taste of programming... and I was hooked.</p>
	<p>I started attending University in 2020 at ISCTE-IUL.</p>
	<p>In 2021 I started studying at 42Lisboa.</p>
	<ul><p>Some of my hobies:</p>
		<li>Programming</li>
		<li>Show Jumping</li>
		<li>Middle-earth Lore</li>
		<li>Jigsaw puzzles</li>
		<li>Creating Websites</li>
	</ul>
	<p>I've worked as a freelance and I was able to contribute to some companies and organizations.</p>
	<ul><p>Some of my work as a freelancer:</p>
		<li><a href="https://nilutorneo.herokuapp.com/">nilutorneo</a></li>
		<li><a href="https://youmats-myversion.herokuapp.com/en">youmats [e-comerce]</a></li>
		<li><a href="https://abe-concert.herokuapp.com/">abe website</a></li>
	</ul>
	<p>Also this website was completely developed by me...</p>
	<p>You can visit most of my projects in my github page</p>
	<details>
	<summary>University & 42</summary>
	<p>University was a complete failure for me, I disliked almost everything about it. It wasn't about the difficulty or the grades, I was a good student overall, I got the maximum score for almost every programming subject although I remember that I had a hard time with mathematics. The teachers were usually prepared and available so that wasn't the problem either.
	<br>
	Eventually, I got very bored and I would not pay any attention to the classes, I would just study at home and attend the exams.
	Since I already knew how to program, the first day I went to the lab class, while the teacher was explaining some basic concepts about Java, I was already finishing the whole module for that week. Eventually, at the end of the class, I showed the teacher that I had finished almost all the modules and asked for permission not to attend the labs anymore, he agreed. This is a big issue in a University.... anyone with enough basic programming knowledge could have finished all modules very fast. I was feeling lost, I didn't go to classes and I wasn't learning anything new about programming. The only subject that I liked was math, 
	it just was not for me. I paid the University to let me enroll on the 2nd year course while I was still doing the 1st one, I managed to go in for a few subjects and that was a bit more challenging. Then covid started so I felt even more lost... and hopeless. Here is when I started my freelance career since I felt like I wasn't doing anything it at university. Finally, I did the piscine at 42Lisboa and I got it, there I was able to learn a bunch of new stuff it has been great so far.</p>
	</details>
</div>