<h6 class="breadcrumb"><%= link_to 'HOME', root_path %> / <span class="light-text">PROJECTS</span></h6>
<div class="middle-earth-container">
  <% if not @projects.any? %>
  <div class="mordor center">
    <h2 style="max-height: 40vh;">No Projects Founded</h2>
    <p><%= image_tag(asset_path("cello.gif")) %></p>
  </div>
  <% end %>
  <div class="shire mordor">
    <% @projects.each do |project| %>
      <%= render 'project', project: project %>
    <% end %>
  </div>
</div>