<h6 class="breadcrumb"><%= link_to 'HOME', root_path %> / <span class="light-text">BLOG</span></h6>
<div class="middle-earth-container">
  <% @posts.each do |post| %>
    <%= link_to posts_show_path(post) do %>
     <%= render 'post_preview', post: post %>
     <span class="book-of-mazarbul"><p><%= svg_icon("book-of-mazarbul") %></p></span>
    <% end %>
<% end %>
</div>
