<%= link_to 'Back', projects_path, class: 'btn btn-lg btn-dark m-3' %>
<div class="row text-center">
  <div class="col-md-4 m-auto">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">New Project</h5>
      </div>
      <div class="card-body">
        <%= render 'form', project: @project %>
      </div>
    </div>
  </div>  
</div>