/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.authors-layout {
    .paragraph {
    transition: background-color 0.5s ease;
        &:hover {
            background-color: #f8f9fa;
            cursor: pointer;
        }
    }

    .image {
        text-align: center;
        img {
            max-width: 80%;
            max-height: 500px;
        }
        .delete-btn {
            position: absolute;
            right: calc(10% + 38px);
            opacity: 0.7;
            &:hover {
                opacity: 1;
            }
        }
    }
    .post-card {
        .header-img {
            width: 100%;
            height: 120px;
            background-size: cover;
            background-position: center; 
        }
    }
    #elements {
        list-style: none;
        padding-left: 0;
    }
}

.elements-icons-bar
{
    display: flex;
    justify-content: flex-start;
    button {
        margin: 0.5rem 1rem 0 0;
    }
}

.btn-block {
    width: 100%;
    padding: 0.5rem;
    display: block;
}