/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.authors-layout {
    background-position: center;
    background-size: cover;
    height: 100vh;
    #authors-curtain {
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.6);
    }
    .authors-navbar {
        position: fixed;
        background-color: rgba(42, 42, 42, 0.8);
        margin-top: 1rem;
        padding: 0.5rem 0.5rem 0.5rem 0;
        border-radius: 0 0.25rem 0.25rem 0;
        transform: translateX(-90%);
        transition: transform 1s;
        z-index: 2;
        &:hover {
            transform: none;
        }
    }
    .float-right {
        position: absolute;
        top: 0;
        right: 0;
    }
    .row {
        width: 100%;
        .col-md-1 {
            flex-basis: min-content;
        }
    }
    form {
        .title {
            width: 50%;
            margin: auto;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
        }

        svg {
            width: 32px;
            height: 32px;
        }
    }
    .paragraph {
        transition: background-color 0.5s ease;
        .element-title {
            min-width: 75%;
        }
        .title-form {
            min-height: 50px;
            font-size: 150%;
        }
        .list-group {
            .list-group-item
            {
                background: none;
            }
            .list-group-item.title-active svg {
                fill: none;
                width: 35px;
                height: 35px;
                .title-svg-content {
                    stroke: black;
                }
            }
            .list-group-item.title-inactive svg {
                fill: none;
                .title-svg-content {
                    stroke: lightgray;
                }
            }
        }
        &:hover {
            background-color: #f8f9fa;
            cursor: pointer;
        }
    }
    .image {
        text-align: center;
        img {
            max-width: 80%;
            max-height: 500px;
        }
    }
    .delete-btn {
        position: absolute;
        right: calc(10% + 38px);
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
    }
    #edit-card {

    }
    .post-card {
        .header-img {
            width: 100%;
            height: 120px;
            background-size: cover;
            background-position: center; 
        }
    }
    .element-item {
        position: relative;
    }
    #elements {
        list-style: none;
        padding-left: 0;
    }
    .icon-svg-md svg {
        width: 100px !important;
        height: 100px !important;
    }
    .icon-svg-sm svg {
        width: 50px !important;
        height: 50px !important;
    }
    .icon-svg-xs svg {
        width: 25px !important;
        height: 25px !important;
    }
    .errors-animation {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    .notice-box {
        position: fixed;
        top: -100px;
        right: 0%;
        color: white;
        background-color: rgba(180, 230, 70, 0.75);
        padding: 1rem;
        margin: 0.5rem;
        border-radius: 1rem;
        z-index: 10;
        animation: showAlert 5s ease-in-out 1;
        &:hover {
            top: 0;
            animation: none;
            background-color: rgba(180, 230, 70, 1);
        }
    }
    .edit-markdown-area {
        min-height: 50vh;
    }
    .bi-markdown-fill {
        fill: var(--bs-primary);
    }
}

@keyframes rotateCube {
  0% {
    transform: translateZ(-550px) rotateY(180deg) rotateX(180deg);
  }
  20% {
    transform: translateZ(-550px) rotateX(90deg);
  }
  40% {
    transform: translateZ(-550px) rotateX(-90deg);
  }
  60% {
    transform: translateZ(-650px) rotateY(-90deg);
  }
  80% {
    transform: translateZ(-550px) rotateY(-90deg);
  }
  100% {
    transform: translateZ(-550px) rotate(0, 0, 0);
  }
}

@keyframes showAlert {
  0% {
    top: 0px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: -100px;
  }
}


// @keyframes fadeout {
//     0% {
//         z-index: 1;
//         opacity: 1;
//     }
//     80% {
//         z-index: 1;
//         opacity: 1;
//     }
//     100% {
//         z-index: 1;
//         opacity: 0.5;
//     }
// }
// .errors-animation {
//     opacity: 0;
//     animation: fadeout 8s ease-in-out 1;
// }

.scene {
    width: 800px;
    height: 800px;
    perspective: 800px;
    text-align: center;
    
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-400px);
    transition: transform 1s;
    animation: rotateCube 5s ease-in-out 1;
}

.cube__face {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    border-radius: 1rem;
    div {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        p {
            width: 100%;
        }
        img {
            width: 50%;
            height: auto;
        }
        svg {
            width: 50%;
            height: 50%;
        }
    }
}

.cube__face--front  {
    transform: rotateY(  0deg) translateZ(400px);
    background-color: rgba(42, 42, 42, 0.42);
}
.cube__face--right  {
    transform: rotateY( 90deg) translateZ(400px);
}
.cube__face--back   {
    transform: rotateY(180deg) translateZ(400px);
}
.cube__face--left   {
    transform: rotateY(-90deg) translateZ(400px);
}
.cube__face--top    {
    transform: rotateX( 90deg) translateZ(400px);
    div {
        transform: rotate(180deg);
    }
}
.cube__face--bottom {
    transform: rotateX(-90deg) translateZ(400px);
    div {
        transform: rotate(180deg);
    }
}

.elements-icons-bar {
    display: flex;
    justify-content: flex-start;
    button {
        padding: 1rem;
        margin: 0.5rem 1rem 0 0;
    }
}

.btn-block {
    width: 100%;
    padding: 0.5rem;
    display: block;
}
@media screen and (min-width: 768px) {
    #post-card {
        height: 100vh;
        #elements-card {
            height: 100vh;
            overflow: scroll !important;
        }
    }
}

.curtain {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: fixed;
    cursor: zoom-out;
}

.dialog {
    svg {
        width: 32px;
        height: 32px;
    }
    .dialog-body {
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
    .dialog-body, .dialog-body-show {
        cursor: zoom-out;
        z-index: 111;
        background-color: rgba(42, 42, 42, 0.6);
        .body {
            cursor: auto;
            min-width: 30vw;
            min-height: 20vh;
            border-radius: 0.25rem;
            background-color: rgba(242, 242, 242, 0.95);
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            justify-content: center;
            select {
                min-width: 50%;
                min-height: 150px;
            }
        }
    }
}

.icon-dark * {
    fill: black;
    stroke: black;
}
